.container-Maps {
  margin-top: 2vw;
  margin-left: 21vw;
  margin-right: 20vw;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 1080px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 1080px;
}
.iframe20 {
  width: 70vw;
  height: 35vw;
}
