.container-Maps {
  margin-top: 2vw;
  margin-left: 21vw;
  margin-right: 20vw;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 30vw;
  width: 60vw;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 30vw;
  width: 60vw;
}
.iframe20 {
  width: 60vw;
  height: 30vw;
}
.iframeForm {
  width: 50vw;
  height: 52vw;
}
.container-form {
  position: relative;
  margin-top: 11vw;
  margin-left: 25vw;
  margin-right: 33vw;
}
.some-page-wrapper {
  margin: 15px;
  margin-top: 9vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  height: 100px;
}

.green-column {
  height: 100px;
  color: #000;
  font-family: metawp, Trebuchet MS, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.25em;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}
.vl {
  padding-left: 20px;
  border-left: 1px solid;

  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 50px;

  margin-inline-start: auto;
  margin-inline-end: auto;

  border-width: 1px;
}

p {
  margin: 1em 0;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
