.container-Maps {
  margin-top: 2vw;
  margin-left: 21vw;
  margin-right: 20vw;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 30vw;
  width: 60vw;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 30vw;
  width: 60vw;
}
.iframe20 {
  width: 60vw;
  height: 30vw;
}
.iframeForm {
  width: 50vw;
  height: 52vw;
}
.container-form {
  position: relative;
  margin-top: 11vw;
  margin-left: 25vw;
  margin-right: 33vw;
}
.some-page-wrapper {
  margin: 15px;
  margin-top: 9vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  height: 100px;
}

.green-column {
  height: 100px;
  color: #000;
  font-family: metawp, Trebuchet MS, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.25em;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}
.vl {
  padding-left: 20px;
  border-left: 1px solid;

  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 50px;

  margin-inline-start: auto;
  margin-inline-end: auto;

  border-width: 1px;
}

p {
  margin: 1em 0;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* carousel

h2{
  text-align:center;
  padding: 20px;
}
/* Slider */
.container {
  margin-top: 5vw;
  width: 95vw !important;
}
.carousel-text {
  text-align: center;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
